.alert1 {
  color: #ff0000;
  background-color: #ffff00;
  text-align: center;
  border:2px solid #ff0000;
  padding:12px;
  font-weight:850;
}

.alert {
  color: #ff0000;
  text-align: center;
  border:2px solid #ff0000;
  padding:12px;
  font-weight:850;
}

.al {
  list-style: none;
}